<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body> -->
<!-- <a href="admin_manage_vehicles">MANAGE VEHICLES</a> -->
<!-- <a href="admin_view_registered_users">VIEW REGISTERED USERS</a> -->
<!-- <a href="admin_manage_drivers">MANAGE DRIVERS</a> -->
<!-- <a href="admin_view_bookings">VIEW BOOKINGS</a> -->
<!-- <a href="admin_view_payments">VIEW PAYMENTS</a> -->
<!-- <a href="admin_view_rating_and_review">VIEW RATINGS</a> -->
<!-- <a href="admin_view_complaints">VIEW COMPLAINTS</a> -->
<!-- <a href="admin_view_vehicle_location">VIEW VEHICLE LOCATION</a> -->
<!-- <a href="/login">LOGOUT</a> -->


<!-- 
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/ -->
<!DOCTYPE html>
<html>
<head>
<title>Lyceum an Educational Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Lyceum a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="/static/uploads/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/uploads/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
<link rel="/static/uploads/stylesheet" href="css/flexslider.css" type="text/css" media="all" />
<link href="/static/uploads/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link href="/static/uploads/css/smoothbox.css" rel='stylesheet' type='text/css'/>
<link href="/static/uploads/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
</head>
<style type="text/css">
  th,td{
    color: white;
  }
  h1{
    color: black;
  }
</style>
<body>

<!-- Header -->
<section class="header">
<div class="banner">
<div class="w3_banner">
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">
              <h1>ONROAD</h1><label>Fuel Demand</label>
            </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
       
      </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MANAGE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="nav-link" href="admin_manage_vehicles">VEHICLES</a>
		<a class="nav-link" href="admin_manage_fuel_type">Fuel Type</a>
    <a class="nav-link" href="admin_manage_drivers">DRIVERS</a>
  
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          VIEW
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="nav-link" href="admin_view_registered_users">REGISTERED USERS</a>
    <a class="nav-link" href="admin_view_bookings">BOOKINGS</a>
    <a class="nav-link" href="admin_view_payments">PAYMENTS</a>
    <a class="nav-link" href="admin_view_rating_and_review">RATING AND REVIEW</a>
    <a class="nav-link" href="admin_view_complaints">COMPLAINTS</a>
    <!-- <a class="nav-link" href="admin_view_vehicle_location">VEHICLE LOCATION</a> -->



    
        </div>
      </li>
      
    
    <li class="nav-item">
        <a class="nav-link" href="/login">LOGOUT</a>
      </li>
   
    </ul>
<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" required="" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form> -->
  </div>
</nav>
<div class="agileits_w3layouts_banner_info">
        <section class="slider">
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <div>


