{%include "adminheader.html" %}
<center>
	<br>
	<br>
	<br>
	<br>
	<form>
		<table class="table" style="width:500px">
			<h1><b>RATINGS</b></h1>
			<br>
			<br>
			<tr>
				<th>Sl No</th>
				<th>User Name</th>
				<th>Driver Name</th>
				<th>Rating</th>
				<th>Review</th>
				<th>Date-time</th>

			</tr>
			{% for row in data['rating'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['u_name']}}</td>
				<td>{{row['d_name']}}</td>
				<td>{{row['rating']}}</td>
				<td>{{row['review']}}</td>
				<td>{{row['date_time']}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>
</center>
{% include "footer.html" %}