{% include "publicheader.html"%}
		
	<center>
		<br><br><br><br><br><br><br><br><br><br>
		<form  method="post">
			<h1><b>LOGIN</b></h1>
			<br>
			<br>
		
		<table  class="table" style="width:500px">
		
			<tr>
				<th>Username :</th>
				<td><input type="text" name="username" ></td>
			</tr>
			<tr>
				<th>Password :</th>
				<td><input type="Password" name="Password"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="Login" value="Login" class="btn btn-success" class="form-control"></td>
			</tr>
			
			
		</form>
		
			
		</table>
		

	</center>
{% include "footer.html" %}